/***************************************************************
Base Styles
***************************************************************/
* {
    /* height: 100%; */
    /* background-image: linear-gradient(rgba(9, 56, , 1), rgba(0, 8, 39, 1)); */
    /* color: white; */
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: none;
}

html {
    height: 100%;
    background-image: linear-gradient(white, rgba(61, 105, 198, 1));
    height: 100vh;
}

.logoDiv {
    width: 5%;
}

.logo {
    max-width: 100%;
    object-fit: fill;
}

.topLevel {
    display: flex;
    width: 66%;
    margin: auto;
    flex-direction: column;
    padding-top: 2.5%;
}

.topLevel p {
    max-width: 90%;
    text-align: center;
    margin: 2.5% auto;
}

h1 {
    margin: 1% auto;
}

h2 {
    margin: 1% auto;
}

h3 {
    text-align: center;
}

p {
    margin: auto;
    font-size: 1.25em;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    border-radius: 20px;
    margin: .5% .25%;
    padding: .5%;
    background-color: transparent;
    box-shadow: 3px 3px 3px grey;
    outline: none;
}

button:hover {
    background-color: rgba(61, 105, 198, 1);
    color: white;
    box-shadow: 1px 1px 1px grey;
}

/***************************************************************
Sign In
***************************************************************/
/* .signInButton {
    width: 2.5%;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 2px 1px grey;
} */

/***************************************************************
Home
***************************************************************/
.homeDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}

.instructions {
    display: flex;
    justify-content: center;
    flex-direction: column;;
}

.instructions p {
    margin: 1% auto;
}

/***************************************************************
Nav
***************************************************************/
.navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: .25% 0;
    padding: .25% 5%;
    padding-right: 5%;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 15%;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menuItem {
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 100%;
    font-weight: bold;
}

/***************************************************************
Library
***************************************************************/

.libraryPage {
    display: flex;
    justify-content: flex-start;
    margin: 0 1.5%;
    flex-direction: column;
}

.libraryPage h1 {
    margin: .25% auto;
}

.artistList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75vh;
}

.artistListHead {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 8px;
}

.artistListHead th {
    width: 25%;
    align-self: center;
    text-align: center;
}

.artistListBody {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 0px;
    /* background-image: linear-gradient(rgba(61, 105, 198, 1), white); */
}

.artistListBody::-webkit-scrollbar {
    display: none;
}

.singleArtist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-content: center;
    align-self: center;
    border-bottom: 1px solid black;
    margin-top: 8px;
    padding-bottom: 7px;
}

.singleArtist table {
    width: 75%;
    align-self: center;
    align-content: center;
}

.singleArtist td {
    width: 25%;
    align-self: center;
    text-align: center;
}

.artistImage {
    max-width: 160px;
    max-height: 160px;
    width: 160px;
    border-radius: 50%;
    object-fit: cover;
}

/***************************************************************
User Info
***************************************************************/

.userInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 125%;
}

.infoList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/***************************************************************
Create
***************************************************************/

.createHead {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.createPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.createPage p {
    width: 40%;
    margin: 1% auto 0 auto;
}

.createSelections {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.create {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

/***************************************************************
Create by Genre
***************************************************************/

.list {
    height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
    width: 25%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1%;
}

.list::-webkit-scrollbar {
    display: none;
}

.list li {
    margin: .5%;
    font-size: 1.1em;
}

/***************************************************************
Playlist Maker
***************************************************************/

.playlistMaker {
    display: flex;
    flex-direction: column;
    margin: 1%;
    width: 50%;
}

.playlistMaker p {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 2.5%;
}

.playlistMaker b {
    text-align: center;
}

.playlistMakerList li {
    text-align: center;
    margin: .5% 0;
    font-size: 1.1em;
}

.playlistMakerList {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
}

.playlistMakerList::-webkit-scrollbar {
    display: none;
}

.name-playlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% auto;
}

.name-playlist label {
    text-align: center;
    margin-bottom: 1%;
}

.name-playlist input {
    border-radius: 5px;
    background-color: transparent;
}

.createButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.createButtons button {
    width: 20%;
}



